/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row {
		padding: 0 2%;
	}
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
	body {
		font-size: 90%;
	}

	.main-nav {
		float: right;
		list-style: none;
		margin-top: 50px;
		margin-right: 2.5px;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 20px;
	}

	.hero-text-box {
		width: 90%;
		padding: 5% 5%;
	}

	.col {
		width: 100%;
		margin: 0;
	}

	.pov-box {
		width: 96%;
		padding: 1% 2%;
		margin-bottom: 5px;
		margin-left: 2%;
	}

	.prakse-box div {
		text-align: left;
	}

	.prakse-box {
		width: 96%;
		margin-left: 2%;
		margin-bottom: 5px;
		padding: 1% 2%;
	}

	.prakse-box:first-child {
		text-align: left;
	}

	.prakse-box:last-child {
		margin-top: 40px;
	}

	/* Small phones to small tablets: from 481px to 767px 		*/
	@media only screen and (max-width: 767px) {
		body {
			font-size: 90%;
		}
	}
	section {
		padding: 20px 0;
	}

	.col {
		width: 100%;
		margin: 0;
	}

	.row,
	.hero-text-box {
		padding: 0 3%;
	}
	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}

	.main-nav {
		display: none;
	}

	.main-nav {
		float: left;
		margin-top: 30px;
		margin-left: 25px;
	}

	.main-nav li {
		display: block;
		padding: 10px 0;
	}

	.main-nav li a:link,
	.main-nav li a:visited {
		display: block;
		border: 0;
		padding: 10px 0;
		font-size: 100%;
	}

	.sticky .main-nav {
		margin-top: 10px;
	}

	.sticky .main-nav li a:link,
	.sticky .main-nav li a:visited {
		padding: 10px 0;
	}
	.sticky .mobile-nav-icon {
		margin-top: 10px;
	}
	.sticky .mobile-nav-icon i {
		color: #555;
	}

	h1 {
		font-size: 180%;
	}
	h2 {
		font-size: 150%;
	}

	.pov-box {
		width: 97%;
		margin-left: 1%;
	}

	.prakse-box:first-child {
		text-align: center;
	}

	.prakse-step div {
		height: 40px;
		width: 40px;
		margin-right: 15px;
		padding: 4px;
		font-size: 120%;
	}

	.prakse-box {
		margin-bottom: 20px;
	}

	.prakse-step:last-of-type {
		margin-bottom: 20px;
	}

	.footer {
		background-color: #4e4537;
		font-size: 90%;
	}

	.col {
		width: 100%;
		margin: 3%;
	}

	.kontakt-box {
		background-color: #4e4537;
		color: #b5aa99;
		width: 100%;
		padding: 5px;
	}

	.kontakt box div {
		list-style: none;
		text-align: left;
	}

	.kontakt-box ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.kontakt-box ul li {
		padding: 1%;
	}

	/* Small phones: from 0 to 480px */
	@media only screen and (max-width: 480px) {
		section {
			padding: 25px 0;
		}
		.contact-form {
			width: 100%;
		}
	}
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS 

@media only screen and (max-width: 480px) {
	.span-2-of-2 {
		width: 100%;
	}
	.span-1-of-2 {
		width: 100%;
	}*/
