/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
	.hero-text-box {
		width: 100%;
		padding: 0 2%;
	}

	.row {
		padding: 0 2%;
	}
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
	body {
		font-size: 90%;
	}

	.main-nav {
		float: right;
		list-style: none;
		margin-top: 50px;
		margin-right: 2.5px;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 20px;
	}

	.hero-text-box {
		width: 90%;
		padding: 5% 5%;
	}

	.column {
		width: 100%;
	}

	.pov-box {
		padding: 1% 2%;
		margin-bottom: 4px;
		margin-left: 2%;
	}

	.section-prakse {
		text-align: left;
		float: left;
	}

	.prakse-box div {
		text-align: left;
	}

	.prakse-box {
		text-align: left;
		width: 90%;
		margin-left: 2%;
		margin-bottom: 5px;
		padding: 1% 2%;
	}

	.footer {
		font-size: 90%;
		margin-left: -3%;
		margin-right: 5%;
	}
}

/* Small phones to small tablets: from 481px to 767px 		*/
@media only screen and (max-width: 767px) {
	body {
		font-size: 90%;
	}

	.section {
		padding: 15px 3px;
	}

	.row,
	.hero-text-box {
		padding: 0 3%;
	}

	.col {
		width: 100%;
		margin: 0 0 4% 0;
	}

	.main-nav {
		display: none;
	}

	h1 {
		font-size: 180%;
	}
	h2 {
		font-size: 150%;
	}

	.pov-box {
		width: 97%;
		margin-left: 1%;
	}

	.prakse-box div {
		height: 40px;
		width: 40px;
		margin-right: 15px;
		padding: 4px;
		font-size: 120%;
	}

	.prakse-box {
		margin-bottom: 20px;
	}

	.footer {
		font-size: 90%;
	}

	.col {
		width: 100%;
		margin: 2%;
	}

	.kontakt-box {
		width: 100%;
		padding: 4px;
	}

	.kontakt box div {
		list-style: none;
		text-align: left;
	}

	.kontakt-box ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.kontakt-box ul li {
		padding: 1%;
	}
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
	section {
		padding: 10px 5px;
	}
	pov-box {
		width: 80%;
		margin-left: 0%;
	}

	.prakse-box {
		width: 85%;
		margin-left: 0%;
		margin-right: 20%;
	}

	.iframe {
		width: 85%;
		height: 450%;
	}

	.footer {
		font-size: 90%;
	}

	.col {
		width: 100%;
		margin: 1%;
	}

	.kontakt-box {
		width: 100%;
		padding: 2px;
	}

	.kontakt box div {
		list-style: none;
		text-align: left;
	}

	.kontakt-box ul {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.kontakt-box ul li {
		padding: 1%;
	}
}
