/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
	padding: 2;
	box-sizing: border-box;
}

html,
body {
	background-color: rgb(248, 245, 245);
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
	font-weight: 400;
}

h1 {
	margin-top: 0;
	color: #ffd501;
	font-size: 300%;
	font-weight: 500;
	word-spacing: 5px;
	letter-spacing: 1.5px;
}

h2 {
	font-size: 190%;
	word-spacing: 2px;
	text-align: center;
	letter-spacing: 1.5px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #ffd501;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}

h3 {
	font-size: 150%;
	margin-bottom: 12px;
	color: rgb(248, 245, 245);
}

h4 {
	font-size: 120%;
	font-weight: 100;
	word-spacing: 0.5px;
	text-align: center;
	letter-spacing: 1px;
}

h4:after {
	display: block;
	height: 2px;
	background-color: #ffd501;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
}
/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/lady-justice-2388500_1280.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	font-size: 20px;
	top: 48%;
	left: 58%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Main navi */
.main-nav {
	float: right;
	list-style: none;
	margin-top: 50px;
	margin-right: 1px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 5px 0;
	color: rgb(223, 223, 223);
	text-decoration: none;
	font-size: 100%;
	border-bottom: 2px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 1.5px solid #ffd501;
}

/* /* ----------------------------------------------- */
/* VRSTE PRAVNE PRAKSE */
/* ----------------------------------------------- */
.section-prakse {
	background-color: #f4f4f4;
	margin: auto;
	align-items: center;
	justify-items: center;
	box-sizing: border-box;
}

.prakse-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #efefef;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.prakse-box div {
	padding: 15px;
	border-bottom: 1px solid #e8e8e8;
}

.prakse-box:first-child {
	text-align: right;
	padding-right: 3%;
}

.prakse-box:last-child {
	text-align: left;
	padding-left: 3%;
	margin-top: 70px;
}

/* ----- PARAGRAPHS ----- */

.prakse-box p {
	font-size: 90%;
	line-height: 145%;
}

.long-copy {
	height: auto;
	width: 65%;
	margin-left: 28%;
	padding-bottom: 30px;
	padding-top: 15px;
}

/* COLUMNS*/

/* Float four columns side by side */
.col {
	float: left;
	column-width: 100%;
	width: 20%;
	padding: 20 25px;
}

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive cards */
@media screen and (max-width: 600px) {
	.cards {
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

/* Style the counter cards */
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
}
