/* ----------------------------------------------- */
/* color: #ffbf00 
background-color: #B5AA99   */

/* BASIC SETUP */

* {
	padding: 2;
	box-sizing: border-box;
}

html,
body {
	background-color: #b5aa99;
	color: black;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
	max-width: 1140px;
	margin: 0 auto;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
	font-weight: 400;
}

h1 {
	margin-top: 0;
	color: #ffbf00;
	font-size: 300%;
	font-weight: 500;
	word-spacing: 5px;
	letter-spacing: 1.5px;
}

h2 {
	font-size: 150%;
	word-spacing: 2px;
	text-align: center;
	letter-spacing: 1.5px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #b5aa99;
	content: " ";
	width: 100px;
	margin: 0 auto;
}

h3 {
	font-size: 150%;
	margin-bottom: 20px;
	color: #fff;
}

h4 {
	font-size: 100%;
	font-weight: 100;
	font-size: 18px;
	word-spacing: 0.5px;
	text-align: center;
	letter-spacing: 1px;
	padding-top: 10px;
}

h4:after {
	display: block;
	height: 2px;
	background-color: #ffbf00;
	content: " ";
	width: 100px;
	margin: 0 auto;
	margin-top: 10px;
}
/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(img/clarisse-meyer-jKU2NneZAbI-unsplash.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	font-size: 20px;
	top: 45%;
	left: 60%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

/* Main navi */
.main-nav {
	float: right;
	list-style: none;
	margin-top: 50px;
	margin-right: 0px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0px;
	color: #fff;
	text-decoration: none;
	font-size: 100%;
	border-bottom: 3px solid transparent;
	-webkit-transition: border-bottom 0.2s;
	transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 3px solid #ffbf00;
}

.pov-box {
	width: 80%;
	background-color: #fff;
	box-shadow: 0 2px 2px #4e4537;
	padding: 20px;
	text-align: justify;
	margin-left: 9%;
	margin-top: 3%;
	margin-bottom: 2%;
}

/* /* ----------------------------------------------- */
/* VRSTE PRAVNE PRAKSE */
/* ----------------------------------------------- */
.section-prakse {
	display: block;
	background-color: #b5aa99;
}

.prakse-box {
	background-color: #fff;
	border-radius: 5px;
	width: 95%;
	margin-left: 35%;
	box-shadow: 0 2px 2px #4e4537;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

.prakse-box div {
	padding: 15px 0;
	text-align: center;
	font-size: 18px;
	border-bottom: 2px solid #ffbf00;
	margin: 10px;
}

.prakse-box:first-child {
	text-align: left;
	padding-right: 3%;
}

.prakse-box:last-child {
	text-align: left;
	padding-left: 3%;
	margin-top: 20px;
}

/* ----- PARAGRAPHS ----- */

.prakse-box,
.pov-box p {
	font-size: 18px;
	line-height: 145%;
}

/* COLUMNS*/

/* Float four columns side by side */
.col {
	float: left;
	column-width: 100%;
	width: 20%;
	padding: 20 25px;
}

/* Remove extra left and right margins, due to padding */
.row {
	margin: 0 -px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}

/* -- Map -- */

.iframe {
	background-color: #f1e1b1;
}

/* -- kontakti -- */

<<<<<<< HEAD
<<<<<<< HEAD
.footer {
	background-color: #4e4537;
	column-count: 2;
}

.kontakt-box {
	background-color: #4e4537;
	color: #fff;
	font-size: 16px;
	text-align: left;
	width: 100%;
}

.kontakt box div {
	padding: 20px;
	list-style: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
}

.kontakt-box ul {
	list-style: none;
}

.kontakt-box ul li {
	padding: 8px 5px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
=======
footer {
	display: block;
}

.kontakt-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #4e4537;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
>>>>>>> parent of 6bf775a... isto footer... laku noć
}

=======
footer {
	display: block;
}

.kontakt-box {
	background-color: #fff;
	border-radius: 5px;
	width: 90%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #4e4537;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

>>>>>>> parent of 6bf775a... isto footer... laku noć
.kontakt-box div {
	padding: 15px 0;
	text-align: center;
	font-size: 16px;
}
